# Файлы редактора
.vscode

# Вспомогательные файлы
*.log*
node_modules/
# dist/
gulp/version.json

# Папка с собранными файлами проекта
# build/
# trash/~$рассчет колонок.xlsx
trash/~$Таблица для БД — копия.xlsx
